@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--very-dark-cyan);
}

.wrapper {
  background-color: var(--light-grayish-cyan);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button{
  cursor: pointer;
}

.title {
  font-size: 24px;
  margin: 20px 0;
  letter-spacing: 5px;
}

.card {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--white);
  padding: 40px;
  border-radius: 20px;
}
.color-gray{
  color: var(--grayish-cyan)
}

input {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  border: none;
  background-color: var(--very-light-grayish-cyan);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  text-align: right;
}

input:focus {
  outline: 1px solid var(--strong-cyan);
}

.dollarIcon {
  background: url("/assets/images/tip-calculator-dollar.svg") no-repeat;
  background-position: 14px 14px;
  background-size: 11px;
  background-color: var(--very-light-grayish-cyan);
}
.personIcon {
  background: url("/assets/images/tip-calculator-person.svg") no-repeat;
  background-position: 14px 15px;
  background-size: 12px;
  background-color: var(--very-light-grayish-cyan);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

#custom{
  width: 120px;
  margin: 0;
  text-align: center;
}

input:invalid{
  outline: 1px solid red;
}

.people-labels{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px
}

.people-error{
  color: red;
  font-size: 12px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.buttons button {
  font-size: 24px;
  width: 120px;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
}

.unselectedTip{
  background-color: var(--very-dark-cyan);
  color: var(--white);
}

.selectedTip{
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.total {
  height: 100%;
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
  color: var(--white);
  padding: 40px 20px 20px 20px;
}

.total-tip,
.total-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-tip span,
.total-general span {
  color: var(--white);
}

.total-tip .total-person,
.total-general .total-person {
  font-size: 12px;
  color: var(--grayish-cyan);
}

.total-amount {
  color: var(--strong-cyan);
  font-size: 24px;
  text-align: right;
}

.total-general {
  margin: 20px 0;
}

.total button {
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 680px) {
  .card {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    flex-grow: 0;
  }

  .total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 50px 30px;
    gap: 80px;
  }

  .total div {
    width: 100%;
  }

  .total-tip,
  .total-general {
    gap:60px
  }

  .total-amount{
    font-size: 32px;
  }
  .title{
    margin-top: 60px;
  }
}
