@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

* {
  --color-primary: #a5ffaf;
  --color-black: #202020;
  color: #eeeeee;
  font-family: "Source Code Pro", monospace;
}

/* =========
  UTILITIES
  ======== */

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-gray {
  color: #979797;
}

.f-primary {
  color: var(--color-primary);
}

.bg-gray {
  background-color: #353535;
}

/* ========
  ELEMENTS
  ======== */

button {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: black;
  font-weight: bold;
  gap: 10px;
  padding: 10px 0;
  transition: all 200ms;
  width: 100%;
}

button svg {
  transition: all 200ms;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-primary);
}

button:hover svg {
  fill: var(--color-primary);
}

label {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}

/* ========
  INPUT RANGE
  ======== */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  background: var(--color-black);
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.2s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.2s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #1a1a1a;
  border: 2px solid var(--color-primary);
}

input[type="range"]::-moz-range-thumb:hover {
  background: #1a1a1a;
  border: 2px solid var(--color-primary);
}

input[type="range"]::-ms-thumb:hover {
  background: var(--color-black);
  border: 2px solid var(--color-primary);
}

/* Input Track */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* ========
  INPUT CHECKBOK
  ======== */

/* Customize the label (the container) */
label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

label:hover .checkmark {
  border: 2px solid var(--color-primary);
}

/* Hide the browser's default checkbox */
label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 2px solid #eeeeee;
}

/* When the checkbox is checked, add a blue background */
label input:checked ~ .checkmark {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid var(--color-black);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* ========
  CLASES
  ======== */

.container {
  min-height: 100vh;
  background: linear-gradient(#202020, #121212);
  flex-direction: column;
  gap: 20px;
}

.password,
.config,
.strength {
  max-width: 350px;
  width: 100%;
  padding: 15px 20px;
}

.password {
  justify-content: space-between;
  font-size: 20px;
}

.password svg {
  cursor: pointer;
  fill: var(--color-primary);
}

.password svg:hover {
  fill: #eeeeee;
}

.config {
  position: relative;
  align-items: flex-start;
  padding-block: 20px;
  flex-direction: column;
  gap: 20px;
}

.length {
  width: 100%;
  justify-content: space-between;
}

.lenght-number {
  font-size: 20px;
}

.strength {
  background-color: var(--color-black);
  justify-content: space-between;
}

.strength-text {
  margin-right: 5px;
}

.bars {
  gap: 5px;
}

.bar {
  border: 1px solid #eeeeee;
  width: 6px;
  height: 16px;
}

.strength-power {
  background-color: #e7b615;
  border: 1px solid #e7b615;
}

.error {
  position: absolute;
  bottom: -28px;
  font-size: 12px;
  color: red;
  display: none;
}
