@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  --font-quote: 28px;
  --font-800: 800;

  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

.container {
  background: var(--dark-blue);
  display: grid;
  height: 100vh;
  place-items: center;
}

.card {
  background-color: var(--dark-grayish-blue);
  border-radius: 15px;
  display: grid;
  gap: 20px;
  padding: 50px 20px 70px 20px;
  place-items: center;
  position: relative;
  text-align: center;
  width: calc(min(500px, 100%) - 2rem);
}

.title {
  color: var(--neon-green);
  font-size: 14px;
  letter-spacing: 4px;
}

.advice {
  font-size: var(--font-quote);
  color: var(--light-cyan);
}

.get-advice {
  align-items: center;
  background-color: var(--neon-green);
  border: none;
  border-radius: 100%;
  bottom: -32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: absolute;
  transition: all 200ms;
}

.get-advice:hover {
  box-shadow: 0px 0px 20px var(--neon-green);
}
